[Unit]
Description=mc2fi user
After=network.target
StartLimitIntervalSec=0

[Service]
User=mc2
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/mc2/mc2fi
ExecStart=/home/mc2/mc2fi/target/release/user --host=user.mc2.fi --port=443 --config=etc/config.json'

StandardError=append:/home/mc2/mc2fi/log/mc2fi_user.log
StandardOutput=append:/home/mc2/mc2fi/log/mc2fi_user.log
StandardInput=null
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=default.target

